<!DOCTYPE html>
<html lang="en">
<head>
<title>Add Goals and Task</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<style>body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('https://quotefancy.com/media/wallpaper/3840x2160/4660022-Stan-Smith-Quote-When-you-walk-on-a-court-clear-your-mind-of.jpg');
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

</style>

<!-- Navbar (sit on top) -->

<!-- Render vision data in this container  -->
<div class="w3-content w3-container w3-padding-64 w3-animate-zoom" style="max-width:80%" id="about">

  <hr>
  
  <!-- Menu Section -->
  <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">Goals and Tasks</h1><br>
      <h4 class="">Spiritual Goals:</h4>
      <p class="">If you’re hoping to find greater spiritual understanding and contentment, include images that evoke the kind of spiritual enlightenment you seek. </p><br>
    
      <h4 class="">Health Goals:</h4>
      <p class="">Health goals commonly have to do with weight loss, your health is also about integrating self-care into your life, staying on top of your mental health, and getting adequate sleep. Maintaining optimal health isn’t only good for your well-being, it also affects your ability to achieve your other goals.</p><br>
    
      <h4 class="">Financial Goals:</h4>
      <p class="">If you are hoping to attract more money into your life, you may want to include a savings plan and budget for cash goals or the items you would like to buy with that money (such as your own home, a car, an e-bike etc.).</p><br>
    
    
      <h4>Task</h4>
      <p class="w3-text-grey">Task caption goes here</p>    
    </div>
    
    <div class="w3-col l6 w3-padding-large w3-round">
      <img src="https://i.pinimg.com/originals/de/07/b0/de07b007bfdeab20b647e6d2458a4011.png" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
    </div>
  </div>

  <hr>
  <br>

  <!-- Render Vision data here -->
  <h3 class="w3-center">render vision data here</h3>
  <ul>
    {% for vision in visionname %}
  <li>{{ vision.vision_name }}</li>
    {% endfor %}
  </ul>
  <p class="w3-center"><em>"Now that you have created your vision now let's create goals and task."</em></p>
  <p class="w3-center"></p>
</div>

  <!-- Goals and task Input Container -->
  <div class="w3-content w3-padding-large w3-margin-top" id="goal_task_input">

  <!-- Goals and Task -->
  <div class="w3-margin-top w3-animate-bottom " id="contact">
    <h3 class="w3-center">Add Goals and Task</h3>
    <hr>
  <!-- Django forms go here -->   <!-- action="" method="{POST}" -->
<form action="{% url 'AddGoalTask'%}" class="w3-container w3-center" method = "POST">
    {% csrf_token %} 
     <label class="w3-text-black"><b></b></label>
    {{ Goal_Form }}
     <input type="submit" name="add_goal" value="Create" class=" w3-btn w3-border w3-center w3-orange w3-round" >
 </form>
<br>
 <form action="{% url 'AddGoalTask'%}" class="w3-container w3-center" method = "POST">
  {% csrf_token %} 
   <label class="w3-text-black"><b></b></label>
  {{ Task_Form }}
   <input type="submit" name="add_task" value="Create" class=" w3-btn w3-border w3-center w3-orange w3-round" >
</form>
<br>
<form action="{% url 'AddGoalTask'%}" class="w3-container w3-center" method = "POST">
  {% csrf_token %} 
   <label class="w3-text-black"><b></b></label>
  {{ Task_Form }}
   <input type="submit" name="add_task" value="Create" class=" w3-btn w3-border w3-center w3-orange w3-round" >
</form>
  <!-- Django forms go here -->
    <br>
  <!-- URL needed here -->
    <p class="w3-center w3-large">Back to <a href="{% url 'AddVision' %}" target="_blank" class="w3-hover-text-orange w3-center">Add Vision</a></p>
  </div>

<!-- End page content -->
</div>

</body>

</html>


