<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
</head>
<body class="w3-dark-grey">

<!-- Page Starts Here -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Dashboard Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h1>Dashboard</h1>
          </div>
        </div>
        <div class="w3-container">
          <h2 class="">The Dream Project</h2>
          <h4>Dashboard</h4>
          <p><a href="{% url 'Home' %}" target="_blank">Home</a></p>
          <p><a href="{% url 'AddVision' %}" target="_blank">Vision</a></p>
          <p><a href="{% url 'AddGoalTask' %}" target="_blank">Goal and Tasks</a></p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Vision</b></p>
          <p>Caption about vision</p>
    
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Goals</b></p>
          <p>Caption about goals</p>
          
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Task</b></p>
          <p>Caption about task</p>
          
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Vision Goal and Task Box -->  <!-- Vision Goal and Task Box -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom w3-animate-right">
        <h1 class="w3-text-grey w3-padding-16"><i class="w3-margin-right"></i>Vision</h1>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Graduate JTC</b></h5>
          <button class="w3-btn w3-teal w3-round w3-left w3-teal" type="submit" name="update_vision" value="Create" >Update</button>
          <button class="w3-btn w3-teal w3-round w3-left w3-teal w3-margin-left 50px" type="submit" name="delete" value="Delete" >Delete</button><br>
      <br>
      <!--Render Vision Data Here -->
          <p>A description of the vision goes here.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>If the user has another vision it will go here.</b></h5>
          <button class="w3-btn w3-teal w3-round w3-left w3-teal" type="submit" name="update_vision" value="Create" >Update</button>
          <button class="w3-btn w3-teal w3-round w3-left w3-teal w3-margin-left 50px" type="submit" name="delete" value="Delete" >Delete</button><br>
      <br>
      <!--Render Vision Data Here -->
          <p>A description of the vision goes here.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Another vision</b></h5>
          <button class="w3-btn w3-teal w3-round w3-left w3-teal" type="submit" name="update_vision" value="Create" >Update</button>
          <button class="w3-btn w3-teal w3-round w3-left w3-teal w3-margin-left 50px" type="submit" name="delete" value="Delete" >Delete</button><br>
      <br>
      <!--Render Vision Data Here -->
          <p>A description of the vision goes here. </p><br>
        </div>
      </div>


      <!-- Goals Box -->
      <div class="w3-container w3-card w3-white w3-margin-bottom w3-animate-left">
        <h1 class="w3-text-grey w3-padding-16"><i class="fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Goals</h1>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Finish Project</b></h5>
          <button class="w3-btn w3-teal w3-round w3-left w3-teal" type="submit" name="update_goal" value="Create" >Update</button>
          <button class="w3-btn w3-teal w3-round w3-left w3-teal w3-margin-left 50px" type="submit" name="submit" value="Delete" >Delete</button><br>
      <br>
      <!--Render Goals Data Here -->
          <p>Render data from the Goal model on the screen here.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Another goal goes here</b></h5>
          <button class="w3-btn w3-teal w3-round w3-left w3-teal" type="submit" name="update_goal" value="Create" >Update</button>
          <button class="w3-btn w3-teal w3-round w3-left w3-teal w3-margin-left 50px" type="submit" name="delete" value="Delete" >Delete</button><br>
      <br>
      <!--Render Goals Data Here -->
          <p>Master Degree</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Goal goes here</b></h5>
          <button class="w3-btn w3-teal w3-round w3-left w3-teal" type="submit" name="update_goal" value="Create" >Update</button>
          <button class="w3-btn w3-teal w3-round w3-left w3-teal w3-margin-left 50px" type="submit" name="delete" value="Delete" >Delete</button><br>
      <br>
      <!--Render Goals Data Here -->
          <p>Bachelor Degree</p><br>
        </div>
      </div>


      <!-- Task Box -->
      <div class="w3-container w3-card w3-white w3-margin-bottom w3-animate-bottom">
        <h1 class="w3-text-grey w3-padding-16"><i class="w3-margin-right"></i>Tasks</h1>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Task goes here</b></h5> 
      <!--Render Task Data Here -->
          <p>Task description goes here</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Task goes here</b></h5>
     <!--Render Task Data Here -->
          <p>Task description goes here</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Task goes here</b></h5>
    <!--Render Task Data Here -->
          <p>Task description goes here</p><br>
        </div>
      </div>

     <!-- Vision Goal and Task Box Ends Here-->  <!-- Vision Goal and Task Box Ends Here -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-black w3-center w3-margin-top">
  <h4>Copyright The Dream Project</h4>
  <p>Powered by <a href="https://github.com/Josecruz-MVP/RememberTheCoders" target="_blank">Remember The Coders</a></p>
</footer>

</body>
</html>
